@model VentaWeb.Models.NegocioModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NegocioModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.urlLogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.urlLogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreLogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreLogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.porcentajeImpuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.porcentajeImpuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.simboloMoneda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.simboloMoneda)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
